# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
backend/venv/
backend/.env
*.env
.env.*

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Vercel
.vercel/
